<div>
  <a
    href="<% if (addNewTitle === 'teacher') { %>/teacher/add-teacher<% } else { %>/student/add-student<% } %>"
  >
    <% if (addNewTitle === 'teacher') { %>Add Teacher<% } else { %>Add Student<% } %>
  </a>
</div>
