<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/user/users' ? 'active' : '' %>"
          href="/user/users"
          >Add Student</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/teacher/add-teacher' ? 'active' : '' %>"
          href="/teacher/add-teacher"
          >Add Teacher</a
        >
      </li>
    </ul>
  </nav>
</header>
